body {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: top;
}

footer {
    background-color: #1293d4;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

img#responsive {
    display: none;
}

@media screen and (max-width: 768px) {
    img#responsive {
        display: block;
    }
}